/* Footer css */
footer {
	background-color: var(--primary-color-100);
}

.footer-content {
	max-width: 1178px;
	margin: 0 auto;
	padding: 51px 0 49px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-content .social-media {
	display: flex;
	gap: 20px;
	margin: 0;
}
.footer-content div p {
	color: var(--white-color-100);
}
