/* Welcome section css */
.welcome-section {
	background: var(--primary-color-100);
	padding-bottom: 78.87px;
	margin-bottom: 60px;
}

.welcome-section-content {
	max-width: 1180px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.welcome-info-container {
	padding: 39.57px 0 39.57px 0;
	max-width: 416px;
}
.welcome-info-container .label {
	color: var(--white-color-100);
	text-transform: uppercase;
	margin-bottom: 15px;
}

.welcome-info-container p {
	color: var(--white-color-75);
	margin-bottom: 25px;
}

.welcome-info-container h1 {
	color: var(--white-color-100);
	margin-bottom: 15px;
}

/* Partners section css */
.partners-section {
	margin: 0 auto;
	max-width: 1159px;
	margin-bottom: 73px;
}

.partners-info-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;
	max-width: 411px;
	margin: 0 auto;
	margin-bottom: 55px;
	text-align: center;
}

.partners-info-container .label {
	color: var(--primary-color-100);
	text-transform: uppercase;
}

.partners-description {
	margin-bottom: -5px;
}

.partners-img-container {
	display: flex;
	align-items: center;
	gap: 68px;
	margin-bottom: 55px;
}

.partners-section button {
	display: block;
	margin: 0 auto;
}

/* Letters section css */
.letters-section {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1180px;
	margin: 0 auto;
	margin-bottom: 73.57px;
}

.letters-info-container {
	max-width: 470px;
}

.letters-info-container h1 {
	margin-bottom: 16px;
}

.letters-description {
	color: var(--dark-color-50);
	margin-bottom: 34px;
}

/* Working flow section css */
.working-flow-section {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 1180px;
	margin: 0 auto;
	margin-bottom: 102.27px;
}

.working-flow-info-container {
	max-width: 470px;
}

.working-flow-info-container h1 {
	margin-bottom: 16px;
}

.working-flow-description {
	color: var(--dark-color-50);
	margin-bottom: 34px;
}

/* Our talents section css */
.our-talents-section {
	max-width: 1176px;
	margin: 0 auto;
	margin-bottom: 54px;
}

.our-talents-info-container {
	margin: 0 auto;
	margin-bottom: 45px;
	text-align: center;
	max-width: 404px;
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.our-talents-info-container .label {
	color: var(--primary-color-100);
}

.our-talents-info-container p:last-of-type {
	margin-top: -6px;
}

.our-talents-cards-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 47px;
	margin-bottom: 45px;
}

.our-talents-cards-container .item {
	max-width: 279px;
	border-radius: 5px;
	box-shadow: 3px 4px 12px 1px var(--dark-color-25);
	padding: 20px 25px 19px 25px;
}

.our-talents-cards-container .item p {
	color: var(--dark-color-75);
}

/* Fixed width and height may cause problems in lower resolutions (responsive design) */
.our-talents-img-wrapper {
	margin: 0 13px;
	margin-bottom: 19px;
	width: 175px;
	height: 175px;
	overflow: hidden;
	border-radius: 50%;
	border: 1px solid;
}

.our-talents-img-wrapper img {
	margin: 0 auto;
	margin-top: 15px;
}

.our-talents-cards-container .item:first-child {
	padding: 20px 39px 19px 38px;
}

.our-talents-cards-container .item h4 {
	margin-bottom: 17px;
}

.our-talents-section button {
	display: block;
	margin: 0 auto;
}
