@import url("reset.css");
@import url("header.css");
@import url("footer.css");

:root {
	--primary-color-code: 116, 198, 157;
	--primary-color: rgb(var(--primary-color-code));
	--primary-color-100: rgba(var(--primary-color-code), 100%);
	--primary-color-75: rgba(var(--primary-color-code), 75%);
	--primary-color-50: rgba(var(--primary-color-code), 50%);
	--primary-color-25: rgba(var(--primary-color-code), 25%);

	--white-color-code: 255, 255, 255;
	--white-color: rgb(var(--white-color-code));
	--white-color-100: rgba(var(--white-color-code), 100%);
	--white-color-75: rgba(var(--white-color-code), 75%);
	--white-color-50: rgba(var(--white-color-code), 50%);
	--white-color-25: rgba(var(--white-color-code), 25%);

	--dark-color-code: 13, 15, 16;
	--dark-color: rgb(var(--dark-color-code));
	--dark-color-100: rgba(var(--dark-color-code), 100%);
	--dark-color-75: rgba(var(--dark-color-code), 75%);
	--dark-color-50: rgba(var(--dark-color-code), 50%);
	--dark-color-25: rgba(var(--dark-color-code), 25%);

	font-family: "Work Sans", sans-serif;
	font-size: 15px;
	line-height: 125%;
}
ul {
	list-style-type: none;
	padding: 0;
}
h1 {
	font-family: "Crimson Text";
	font-size: 40px;
	font-weight: bold;
	line-height: 125%;
}

h2 {
	font-family: "Crimson Text";
	font-size: 32px;
	font-weight: bold;
	line-height: 125%;
}

h3 {
	font-family: "Crimson Text";
	font-size: 28px;
	font-weight: bold;
	line-height: 125%;
}

h4 {
	font-family: "Crimson Text";
	font-size: 24px;
	font-weight: bold;
	line-height: 125%;
}

h5 {
	font-family: "Crimson Text";
	font-size: 20px;
	font-weight: bold;
	line-height: 125%;
}

h6 {
	font-family: "Crimson Text";
	font-size: 16px;
	font-weight: bold;
	line-height: 125%;
}

.sub-heading {
	font-size: 20px;
	font-weight: 400;
	line-height: 125%;
}

.label {
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 5px;
	line-height: 125%;
}

.primary-btn,
.secondary-btn {
	border-radius: 5px;
	border: none;
}

.primary-btn {
	color: var(--white-color-100);
	background-color: var(--dark-color-100);
	padding: 13px 29.5px 10px 29.5px;
}

.secondary-btn {
	color: var(--dark-color-100);
	background-color: var(--white-color-100);
	padding: 13px 48.5px 10px 47.5px;
}

body {
	margin: 0 auto;
	max-width: 1440px;
}

.content-container {
	max-width: 1180px;
}

@media screen and (max-width: 768px) {
	h1 {
		font-size: 24px;
	}
}