.portfolio-section {
	max-width: 1187px;
	margin: 0 auto 102px;
}

.portfolio-info-container {
	max-width: 411px;
	margin: 25px auto 82px;
	text-align: center;
}

.portfolio-section .label {
	color: var(--primary-color-100);
	text-transform: uppercase;
	margin-bottom: 16px;
}

.portfolio-section .sub-heading {
	margin-bottom: 10px;
}

.portfolio-section h1 {
	margin-bottom: 16px;
}

.portfolio-img-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 55px;
	margin-bottom: 64px;
}

.portfolio-section button {
	margin: 0 auto;
	display: block;
}

@media screen and (max-width: 1200px) {
	.portfolio-section {
		max-width: 1000px;
	}
}

@media screen and (max-width: 1024px) {
	.portfolio-section {
		max-width: 850px;
	}
}

@media screen and (max-width: 860px) {
	.portfolio-section {
		max-width: 768px;
	}
}

@media screen and (max-width: 768px) {
	.portfolio-section {
		max-width: 650px;
	}
	.portfolio-img-container {
		grid-template-columns: repeat(1, 1fr);
		justify-items: center;
	}
}

@media screen and (max-width: 568px) {
	.header {
		padding: 21px 0 21px 0;
	}

	.portfolio-section {
		max-width: 335px;
		margin: 0 auto 30px;
	}

	.portfolio-info-container {
		margin: 25px auto 42px;
	}
	.portfolio-img-container {
		margin-bottom: 28px;
	}
}
