/* Header section */
header {
	background-color: var(--primary-color-dark);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 16px 220px;
}
nav {
	display: flex;
	align-items: center;
	gap: 60px;
}

nav ul {
	display: flex;
	gap: 32px;
}

nav ul a {
	text-decoration: none;
	color: var(--while-color);
	font-family: "DM Sans", serif;
	line-height: 23px;
	display: flex;
	align-items: center;
	gap: 10px;
	font-size: 18px;
}

header .btn-secondary {
	padding: 20px 40px;
	margin-right: 20px;
}

header .btn-primary {
	padding: 18.5px 22px;
}

header .btn-primary div {
	display: flex;
	align-items: center;
	gap: 10px;
}

header .btn-primary div img {
	height: 14px;
}

/* Hero section */

.hero {
	display: flex;
	padding: 140px 220px;
	align-items: center;
	background-color: var(--primary-color-dark);
	position: relative;
	top: -1px;
	/* background-image: url("../img/Element.png");
	background-position: center;
	background-repeat: no-repeat; */
}

.hero .background-image-container {
	position: absolute;
	left: 0px;
	top: 192px;
	z-index: 0;
}

.hero .information-container {
	max-width: 656px;
}

.hero .image-container {
	z-index: 2;
}

.hero .information-container h2 {
	margin-bottom: 24px;
	color: var(--while-color);
}

.hero .information-container .sub-heading {
	margin-bottom: 60px;
	color: var(--while-color);
}

.hero .information-container .btn-primary {
	padding: 20px;
	line-height: 23px;
	position: relative;
	z-index: 2;
}

.hero .information-container .btn-primary div {
	z-index: 2;
}

.hero .information-container .btn-primary div img {
	height: 10px;
}

/* Project management section */
.project-management {
    padding: 140px 220px;
}
